.header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    transition: .3s linear;
    overflow: hidden;
    /* min-width: 1200px; */
    min-width: 100%;
    z-index: 5;
}

.header-bg {
    background-color: #2ab7ca;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1000px;
    height: 64px;
    position: relative;
}

.left-items {
    display: flex;
    min-width: 200px;
    margin-left: 100px;
    margin-right: 400px;
    color: white;
}

.right-items {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    margin-right: 50px;
    color: white;
}

.nav-button-div {
    margin: 20px;
    min-width: 50px;
}

.nav-button {
    /* background-color: transparent;
    color: black;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid black;
    min-width: 100px;
    max-width: 100px;
    min-height: 40px;
    max-height: 40px; */
    padding-inline: 20px;
    color: white;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
}

.nav-button:hover {
    /* background-color: black;
    color: white; */
    background-color: #55ccd9;
    color: white;
}